.reveal .text-orange {
    color: #F09D51;
}

.reveal p {
    font-family: serif;
}

/* bootstrap fix */
.reveal [hidden] {
    display: block !important;
}

.reveal a.citation {
    font-size: smaller;
}
